/* A debug class, used to separate components graphically during development */
/********************************Body style********************************/
body{
    margin: 0px;
    padding:0;
    background-color:#e1def6;
    box-sizing: border-box;
}
.flexParent{
    display: flex;
    flex-grow: inherit;
    flex-wrap: wrap;
}
/********************************Sidebar style********************************/
.sidebar-firtdiv{
    display: flex;
}
.sidebar-table{
    border-style: solid;
    width: 100%;
}
.sidebar-tbody {
    border: 1px solid black;
}
.sidebar-trText{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.button {
    border-style:solid;
    position: relative; 
    width: 60px;
    height: 30px;
    color: #fff;
    font-size: 12px;
}

.btn2{
    flex:33%;
    background: linear-gradient(to left,red,blue);
}

button:hover{
    cursor: pointer;
}
.btn1{
    flex:33%;
    background: linear-gradient(to left,blue,red);
}

.btn-style{
   width: 30px;
   height: 30px;
   background:#5a81d6;
   color: #fff;
   border-radius:50%;
}
.link{
    color: black;
}
.link:hover{
    color: rgba(243, 93, 6, 0.756);
}

p.number{
    flex:33%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 25px;
    border: 1px solid black;
    background-color: rgba(83, 22, 224, 0.516);
}
/********************************Vertical line style********************************/

hr{
    border: 4px solid grey;
    margin: 0;
}

/********************************Summary style********************************/

.debug {
    margin: 10px;
    padding: 25px;
    font-size: 18px;
}

.text{
    padding: 20px;
    display: block;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: left;
}

.rightFix{
    text-align:right;
}


.summary-table{
    border:2px solid black;
    width: 100%;
    height: 100%;
}
/********************************Small device style********************************/

@media (min-width: 768px){
    .flexParent{
        display: flex;
        flex-direction:row;
        height: 100%;
        width: auto;
        margin-top: 1px;
    }

    div.sidebar{
        width: 100%;
        margin-top: 40px;
        flex: 0.3;
        display: inline-block;
        padding: 10px;
    }
    div.mainContent{
        width: 100%;
        flex: 0.7;
        display: inline-block;
    }
    .searchResult{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .searchResult span{
        width: 100%;
        height: 100%;
        /* flex-shrink: 10px; */
        flex-wrap: wrap;
        flex-basis: flex-start;
    }

}
/********************************Search bar style********************************/

.searchForm{
    width: 100%;
    height: 40px;
    display: flex;
    
}
.searchInput{
    background: transparent;
    width: 300px;
    height: 30px;
    border: 3px solid #292838;
    border-radius: 60px;
    margin: 10px;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}
.searchInput::placeholder{
    color: #292838;
}
.searchSelector{
    width: 110px;
    height: 30px;
    border: 3px solid #292838;
    border-radius: 60px;
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.searchSelector:hover{
    cursor: pointer;
}
.searchButton{
    width: 90px;
    height: 30px;
    border: 3px solid #292838;
    border-radius: 60px;
    margin: 10px 7px 10px;
    font-size: 15px;
}


/********************************SeachResults style********************************/
.searchResult{
    margin: 5px;
    display: flex;
    flex-direction: row;
    /* vertical-align: bottom; */
}
.searchResult span{
    border: 2px solid #292838;
    border-radius: 15px;
    /* width: 100%; */
    /* height: auto; */
    margin: 5px;
    /* justify-content:baseline; */
    /* align-self: flex; */

}
.searchResult img{
    width: 90%;
    cursor: pointer;
}
.searchResult div{
    width: 90%;
    text-align: center;
    margin: 5px;
}

.image{
    height: 150px;
    width: inherit;
    display: inline-block;
    margin: 3px;
    border: 1px solid white;
    border-radius: 5px;

}

/********************************DetailsView style********************************/
.search-dishes{
    display: flex;
    flex-direction: row;
}
.div{
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
}
.detailsView{
    width: auto;
    display: flex;
    flex-direction: row;
}
.detailsView .txt1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(6, 129, 196);
    border-radius: 3px;
}

div.txt1{
    flex: 0.7;
    width: 300px;
    height: 50px;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.instr{
    border: 2px solid white;
    padding: 7px;
    text-align: justify;
}

.hidden{
    display: none;
}


